name: Terraform Deploy

on:
  push:
    branches:
      - dev
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Set Environment Directory
        id: set-env
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "env_dir=environments/prod" >> $GITHUB_OUTPUT
          else
            echo "env_dir=environments/dev" >> $GITHUB_OUTPUT
          fi

      - name: Terraform Init
        working-directory: ${{ steps.set-env.outputs.env_dir }}
        run: terraform init

      - name: Terraform Validate
        working-directory: ${{ steps.set-env.outputs.env_dir }}
        run: terraform validate

      - name: Terraform Plan
        working-directory: ${{ steps.set-env.outputs.env_dir }}
        run: terraform plan

      - name: Terraform Apply
        if: (github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/main') && github.event_name == 'push'
        working-directory: ${{ steps.set-env.outputs.env_dir }}
        run: terraform apply -auto-approve
